
/****
**** Admin bar icon styling
****/


/****
**** General styling
****/
#admin-view {
	padding: 40px;
	max-width: 800px;
}
	#logo {
		margin-bottom: 1.5rem;
	}
	#logo img {
		display: block;
		height: 70px;
		width: auto;
	}
	#admin-view-form .field {
		margin-bottom: 1.5rem;
	}

#crtbrWrapper .notify {
	border: 1px #dc3545 solid;
	padding: 1.5rem;
	margin-bottom: 2rem;
	border-radius: 10px;
	background: #f8f8f8;
}
	#crtbrWrapper .notify h2 {
		margin: 0 0 1rem;
	}

#crtbrWrapper {
	background-color: white;
	position: relative;
	width: 100%;
	border-radius: 5px;
	margin: 0;
}
	#crtbrWrapper * {
		box-sizing: border-box;
	}
	#crtbrWrapper .content__wrapper {
		padding: 3rem;
	}
		#crtbrWrapper .content__wrapper .field label {
			font-weight: 700;
			font-size: 16px;
			padding-bottom: 10px;
			display: inline-block;
		}
		#crtbrWrapper input[type='number'] ,
		#crtbrWrapper input[type='text'] {
			width: 100%;
			padding: 10px;	
		}
		#crtbrWrapper .text-color {
			color: #46a1de;
			transition-duration: 0.2s;
		}
	#crtbrWrapper .field {
	}
		#crtbrWrapper .field input {
			border: 1px #ddd solid;
			border-radius: 0;
			background: #fff;
			box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
		}
	#crtbrWrapper .checkbox {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
		#crtbrWrapper .checkbox .check {
			width: 42px;
			border: 1px #ddd solid;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fff;
			box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
		}
			#crtbrWrapper .checkbox .check input {
				margin: 0;
			}
		#crtbrWrapper .checkbox .label {
			border: 1px #ddd solid;
			width: calc( 100% - 42px);
			border-left: none;
			font-size: large;
			font-weight: bold;
			padding: 10px 15px;
			background: #fff;
			box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
			height: auto !important;
		}
		#crtbrWrapper .desc {
			margin-top: 7px;
		}

@media (max-width: 782px ) {
	#admin-view {
		padding: 20px;
	}
	#crtbrWrapper .content__wrapper {
		padding: 2rem;
	}
}